@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  @apply
  font-bold text-[24px] lg:text-[36px]
}

h2{
  @apply
  font-bold text-lg lg:text-[24px]
}

h3{
  @apply
  font-bold text-[20px] lg:text-[36px]
}

h4{
  @apply
  text-[20px] font-bold
}

label{
  @apply
  text-lg
}

li{
  @apply
  text-lg lg:text-base
}

p{
  @apply
  text-lg lg:text-base
}

body{
  @apply
  bg-dardaGray1
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.full-search::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track,
.full-search::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.full-search::-webkit-scrollbar-thumb {
  background-color: #58372B;
  outline: none;
}

.overflow-hidden{
  overflow: hidden;
}
