.full-search{
    transform:translate(0,-100%);

    @apply
    bg-dardaGray1 fixed w-full inset-0 min-h-full z-30 transition pt-[76px] lg:pt-[120px] px-4 2xl:px-0 overflow-auto pb-20
}

.full-search.active{
    transform:translate(0,0);
}

.full-search .search-bar{
    @apply
    py-8 lg:py-20 max-w-[1260px] mx-auto flex gap-4 items-center
}

.full-search .search-bar span{
    @apply
    w-[48px] h-[48px] border border-darda4 flex text-[24px] items-center justify-center hover:bg-darda4 text-darda4 hover:text-dardaGray1 cursor-pointer
}


.full-search .search-bar input{
    max-width:calc(100% - 48px);

    @apply
    w-full h-[48px] bg-transparent outline-none border-b border-darda3
}

.full-search .search-bar input::placeholder{
    @apply
    text-darda6
}

.full-search .total-results{
    @apply
    max-w-[1260px] mx-auto
}

.full-search .total-results p{
    @apply
    text-darda2 text-lg
}

.full-search .enterprises-result{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    @apply
    max-w-[1260px] mx-auto flex md:grid flex-col gap-4  mt-8 
}

@media(max-width:560px){
    .full-search .enterprises-resultt a{
        width:100%;
    }
}